<body id="mainBody">
  
  <nav id="mainNav">
      <a href="/"><img id="logo" src="/images/logo-black.png" alt="MachMail"></a>
      <ul id="navLinks">
        <li class="navLink"><a href="/">Inbox</a></li>
        <li class="navLink"><a href="/homepage">Help</a></li>
        <li class="navLink"><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
      </ul>
  </nav>

  <%= devise_error_messages! %>
  
  <!-- FLASH MESSAGES -->
  <% if notice %>
    <div class="flashMessages" id="flashNotice" >
      <h2><%= notice %></h2>
      <p><span class="dismissFlash">(Click to Dismiss)</span></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="flashMessages" id="flashAlert">
      <h2><%= alert %></h2>
      <p><span class="dismissFlash">(Click to Dismiss)</span></p>
    </div>
  <% end %>

  <div id="mainWrapper">

    <div id="editWrapper">

      <div id="editContent">

        <div class="editForm">
        <h3> Choose your content providers</h3>
        <p>Select the websites you would like to access via MachMail. <br>These providers with then show up as "folders" in the MachMail template.</p>  
          <%= form_tag("/preference", method: "post") do %>
            <div class="checkboxContainer">
              <div><%= check_box_tag(:huffP) %> <%= label_tag(:huffP, "Huffington Post", class: 'checkboxLabel') %></div>
              <div><%= check_box_tag(:mash) %> <%= label_tag(:mash, "Mashable", class: 'checkboxLabel') %></div>
              <div><%= check_box_tag(:bloomberg) %> <%= label_tag(:bloomberg, "Bloomberg", class: 'checkboxLabel') %></div>
              <div><%= check_box_tag(:wired) %> <%= label_tag(:wired, "Wired", class: 'checkboxLabel') %></div>
            </div>
            <div class="checkboxContainer">
              <div><%= check_box_tag(:nyt) %> <%= label_tag(:nyt, "New York Times", class: 'checkboxLabel') %></div>
              <div><%= check_box_tag(:npr) %> <%= label_tag(:npr, "NPR", class: 'checkboxLabel') %></div>
              <div><%= check_box_tag(:jcrew) %> <%= label_tag(:jcrew, "J Crew Women", class: 'checkboxLabel') %></div>
            </div>
            <br>
            <div><%= submit_tag("Save", class: 'clearButton  wideButton')%></div>
          <% end %>
        </div><!-- editForm END -->

        <div class="editForm">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>
        <p>Update your email address or change your password.</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%# devise_error_messages! %>
            <div><%= f.email_field :email, class: 'signupTextInput' %></div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div><%= f.password_field :password, autocomplete: "off", placeholder: "password (leave blank to remain unchanged)", class: 'signupTextInput'%></div>
            <div><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", class: 'signupTextInput' %></div>
            <div><%= f.password_field :current_password, autocomplete: "off", placeholder: "current password (to confirm changes)", class: 'signupTextInput' %></div>
            <div><%= f.submit "Update", class: 'clearButton wideButton' %></div>
          <% end %>
        </div><!-- editForm END -->

        <div class="editForm">
          <h3>Cancel my account</h3>
          <p>We're sorry to see you go! Maybe you'll miss us and come back (:</p>
          <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'clearButton  wideButton' %></div>
        </div><!-- editForm END -->

      </div><!-- editContent END -->
      
    </div><!-- editWrapper END -->

    <footer id="mainFooter">
      <!-- <ul id="footerLinks">
        <li class="footerLink">Terms</li>
        <li class="footerLink">|</li>
        <li class="footerLink">Services</li>
      </ul> -->
      <% randomNames = ["Mallory Bory", "Hsin Hsiao", "Victor Wang"].sample(3) %>
      <p>Created by (in totally random order) <%= "#{randomNames[0]}, #{randomNames[1]}, and #{randomNames[2]}." %></p>
    </footer>

  </div><!-- mainWrapper END -->

</body>














